<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="CSS/consejos.css">
    <title>La Nonna</title>
    <link rel="icon" href="imagenes/Logo1.jpeg" />
</head>
<body>
    <div id="cabeza">
        <div id="cabeza_izq">
            <img src="imagenes/Logo2.jpeg" alt="Logo_Principal" id="img_cabeza">
        </div>
        <div id="cabeza_der">
            <p id="lanonna">La Nonna</p>
            <br>
            <p id="Titulo">Consejos de Pizzeria</p>
        </div>
    <br clear="all">
    </div>

<br><br>
</header>
<br clear="all">
<section>
<article id="consejo1">
    <p id="consejo1_titulo">Hacer la masa casera</p>
    <p id="consejo1_contenido">El primer consejo de todos y el más básico es el de perder el miedo y lanzarse a hacer masa de pizza en casa.  Hacer masa para pizza es muy sencillo. Si nunca has hecho masa de pizza, sigue esta receta para hacer una <a href="https://www.comemelapizza.com/masa-basica-de-pizza/" style="color: black;">masa básica de pizza</a>, y una vez que la haces dos o tres veces te darás cuenta de que hacer masa para pizza en casa es más fácil de lo que crees y se puede hacer casi sin mancharse.</p><br>
    <img src="imagenes/consejo1.jpg" alt="consejo1_imagen" id="consejo1_img">
</article>
<article id="consejo2">
    <p id="consejo2_titulo">Preparar antes algunos ingredientes en la sartén</p>
    <p id="consejo2_contenido">Otro de los trucos que recomendamos hacer es el pasar antes por la sartén algunos de los ingredientes de las pizzas. Por ejemplo si vas a poner cebolla o pimiento, primero ponlos a fuego lento en una sartén con un poco de aceite y luego colocalos en la pizza. De esta forma evitamos que nos queden los ingrediente quemados o tostados.</p><br>
    <img src="imagenes/consejo2.jpg" alt="consejo2_imagen" id="consejo2_img">
</article>
<article id="consejo3">
    <p id="consejo3_titulo">Un poco de parmesano u otro queso para decorar</p>
    <p id="consejo3_contenido">Por último recomendamos rallar un poco de parmesano, pecorino o grana padano una vez que hemos terminado de hacer la pizza. La verdad que es una costumbre que hemos cogido como cualquier otra. Nosotros utilizamos un pelador de patatas normal y corriente, para conseguir que el queso se te quede en lascas. La verdad que le da muy buen sabor.</p>
    <img src="imagenes/consejo3.jpg" alt="consejo3_imagen" id="consejo3_img">
</article>
<article id="mapa">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3826.8992355262717!2d-71.52950318516542!3d-16.429943188658953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424adf1a5c1db9%3A0x9f4e182db32ce9c7!2sAv.%20Estados%20Unidos%2010%2C%20Jos%C3%A9%20Luis%20Bustamante%20y%20Rivero%2004009!5e0!3m2!1ses!2spe!4v1637369082797!5m2!1ses!2spe" width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</article>
<article id="enlaces">
    <nav id="contenedor">
        <ul class="navegador">
            <li><a href="">Inicio</a></li>
            <li><a href="">Productos</a></li>
            <li><a href="">Servicio al Cliente</a></li>
            <li><a href="">Delivery</a></li>
        </ul>
    </nav>
</article>
</section>
</body>
</html>