<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="CSS/Principal.css">
    <title>La Nonna</title>
    <link rel="icon" href="images/logo_solo.jpeg" />
</head>
<body>
    <header>
        <div id="cabeza">
            <div id="cabeza_izq">
                <img src="images/logo_solo.jpeg" alt="Logo_Principal" id="img_cabeza">
            </div>
            <div id="cabeza_der">
                <p id="Ins_edu">Pizzeria Restaurante</p>
                <br>
                <p id="Titulo">La Nonna</p>
            </div>
        <br clear="all">
        </div>
        <nav id="contenedor">
            <ul class="navegador">
                <li><a href="">Inicio</a></li>
                </li>
                <li><a href="/contact">Contacto</a>
                </li>
                </li>
                <li><a href="/productos">Productos</a>
                </li>
                </li>
                <li><a href="/serviviocliente">Servicio al Cliente</a>
                </li>
                </li>
                <li><a href="/form">Nuestros Empleados</a>
                </li>
                </li>
                <li><a href="/index2">Cocina en Casa</a>
                </li>
            </ul>
        </nav>
        <br><br><br><br>
        <div>
            <p id="Slogan">Ven a probar nuestras deliciosas pizzas</p>
        </div>
        <br><br><br>
    </header>
    <br clear="all">
    <section>
        <article id="vegetariana">
            <img src="images/vegetariana.png" alt="Pizza Vegetariana" id="Primera_pizza">
            <p id="vegetariana_titulo">Pizza Vegetariana</p>
            <p id="vegetariana_contenido">Una deliciosa pizza cargada con pimiento verde y cebolla blanca recien cortada, champiñones frescos, aceitunas negras, tomates 100% queso sin lacteos, un saber supremo italiano que cuida tu cuerpo</p>
        </article>
        <article id="clasica">
            <img src="images/clasica.jpg" alt="Clásica" id="Segunda_pizza">
            <p id="vegetariana_titulo">Pizza Clásica</p>
            <p id="clasica_contenido">En La Nonna somos expertos en pizzas de la mejor calidad con los mejores ingredientes y estamos felices de compartir tus momentos más importantes por eso te presentamos nuestro plato estrella, la pizza que representa nuestra pizzeria.</p>
        </article>
        <article id="hawaiana">
            <img src="images/hawaiana.jpg" alt="Hawaiana" id="Tercera_pizza">
            <p id="hawaiana_titulo">Pizza hawaiana</p>
            <p id="hawaiana_contenido">Queso, tomate, jamón y piña aunque los italianos les parezca extraña hay que admitir que es deliciosa, una elección ligera para los que preieren combinar dulces y salados</p>
        </article>
    </section>
    <br clear="all"> <br><br>
    <section>
        <article id="nuestra_historia">
            <img src="images/historia.jpg" alt="Nuestra Historia" id="historia">
            <p id="historia_titulo">Nuestra Historia</p>
            <p id="historia_contenido">Nacimos a petición de nuestro profesor de desarrollo como una empresa enfocada a liderar su sector en Arequipa. CUANDO ALLÁ POR EL AÑO DE 1950, EL ENTONCES MUY JOVEN RAIMUNDO SAIEVA,​ COMENZÓ A TRABAJAR EN UNA PANADERÍA DE AGRIGENTO, EN SU NATAL ISLA DE SICILIA, SEGURO QUE NO IMAGINABA QUE INICIABA EL CAMINO QUE HANS SEGUIDO SUS DESCENDIENTES.
                CON SUS CONOCIMIENTOS PARA PREPARAR MASAS PANADERAS, CREÓ SU PROPIA RECETA PARA ELABORAR MASA PARA PIZZAS, UNA RECETA QUE HOY SIGUE VIGENTE EN LA HOSTELERÍA FAMILIAR. O POR LA BONANZA ECONÓMICA DE ALEMANIA, DEJÓ ATRÁS ITALIA PARA EMBARCARSE EN UNA AVENTURA QUE LE IBA A LLEVAR POR MUCHAS CIUDADES ALEMANAS, DESDE SU PRIMER LOCAL DE HOSTELERÍA QUE VIO LA LUZ EN OBERHAUSEN HASTA SU ACTUAL RESTAURANTE, IL CAPRICCIO, EN LEICHLINGEN, JUNTO A LEVERKUSEN, DONDE ADEMÁS DE SUS EXCEPCIONALES PIZZAS, D. RAIMUNDO SAIEVA SIGUE HACIENDO DISFRUTAR A SUS CLIENTES DE UNA AMPLIA VARIEDAD DE ESPECIALIDADES DE COCINA ITALIANA. Y JUNTO A ÉL, SU ESPOSA MAURIZIA, O LA ESPECIALISTA EN POSTRES QUE NO ES OTRA QUE SU HIJA VALERIA.</p>
        </article>
    </section>
    <br clear="all"> <br><br>
    <section>
        <article id="nuestra_politica">
            <img src="images/politica.jpg" alt="Nuestra Politica" id="politica">
            <p id="politica_titulo">Nuestra Política</p>
            <p id="politica_contenido">La Nonna se complace en proveer información a todos sus clientes sobre su página de Internet. Queremos hacer nuestra página lo más divertida y útil posible, mientras respetamos su privacidad. Siéntase seguro que La Nonna hace el mayor esfuerzo por proteger la privacidad de quién nos visita en la red. La Nonna usa "cookies" (piezas de información que una página transfiere al disco duro de la persona para guardar records) sólo para obtener información impersonal con el objetivo de mejorar tu experiencia en línea. Por ejemplo, como la mayoría de páginas en la red, nosotros llevamos un record del número de personas que visitan nuestra página de una forma anónima. Nosotros no asociamos la información del "cookie" con información personal.</p>
        </article>
    </section>
    <footer>
        <img src="images/logo_solo.jpeg" id="logo_final">
        <div id="final">
            <p id="escribenos">ESCRÍBENOS</p>
            <input type="text" placeholder="Nombre" id="inputs">
            <input type="text" placeholder="Correo Electrónico" id="inputs">
            <input type="text" placeholder="Asunto" id="inputs"><br>
            <input type="text" placeholder="Mensaje" id="inputs_mensaje">
            <input type="submit" placeholder="Enviar" id="input_enviar">
        </div>
        <br clear="all">
        <p style="font-size: 20px; background-color: maroon;">2021 | Estudiantes de Certus - Perú</p>
    </footer>
</body>
</html>