<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<div>, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/cards.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Productos</title>
</head>
<body id="background">
            <div class="container">
                <div class="row">
                  <div class="card">
                    <img src="/images/H.jpg" alt="">
                    <h4>PIZZA HAWAINA</h4>
                    <p>Es una pizza que contiene una base de queso fundido y tomate que se aliñan con jamón y piña.​​ Algunas versiones de esta pizza incluyen tocino, gambas, cerezas, pimiento rojo, champiñón, cebollas o jalapeños. Sea como sea la piña está siempre presente.Sea como sea la piña está siempre presente. Se trata de una de las varientes de pizza más importantes de Australia.</p>
                    <a href="a" class="btn">LEER MAS</a>
                </div>
                <div class="card">
                    <img src="/images/M.jpg" alt="">
                    <h4>PIZZA MEXICANA</h4>
                    <p>Es un tipo de pizza elaborada con los ingredientes habituales de la cocina mexicana. El origen de esta pizza se da en Tijuana, pero algunos dicen que no es originaria de México, de donde viene realmente esta pizza es de orígenes japoneses e italianos,1​ al emplear ingredientes como por ejemplo: tomatillos, elote, pollo, queso, cilantro y gambas, etc.</p>
                    <a href="a" class="btn">LEER MAS</a>
                </div>
                <div class="card">
                    <img src="/images/MG.jpg" alt="">
                    <h4>PIZZA MARGARITA</h4>
                    <p>La pizza margarita es una típica pizza napolitana elaborada con tomate, mozzarella, albahaca fresca, sal y aceite. Se trata de la pizza napolitana más popular, junto con la marinera.Dicen que su origen se remonta a 1871 para honrar a la reina de Italia, Margarita de Saboya. El cocinero Raffaele Esposito Brandi creó la pizza Margarita.</p>
                    <a href="a" class="btn">LEER MAS</a>
                </div>
                <div class="card">
                    <img src="/images/I.jpg" alt="">
                    <h4>PIZZA ITALIANA</h4>
                    <p>Es una preparación culinaria que consiste en un pan plano, habitualmente de forma circular, elaborado con harina de trigo, levadura, agua y sal que tradicionalmente se cubre con salsa de tomate y queso y se hornea a alta temperatura en un horno de leña.​​​</p>
                    <a href="a" class="btn">LEER MAS</a>
                </div>
                <div class="card">
                    <img src="/images/N.jpg" alt="">
                    <h4>PIZZA NAPONITANA</h4>
                    <p>Es una típica pizza napolitana elaborada con tomate, mozzarella (tradicionalmente se usa el Fior di latte), albahaca fresca, sal y aceite. Se trata de la pizza napolitana más popular, junto con la marinera.“La pizza en Nápoles se ha tomado siempre por la calle, y por lo tanto, debe comerse con las manos”.​​​</p>
                    <a href="a" class="btn">LEER MAS</a>
                </div>
                <div class="card">
                    <img src="/images/MO.jpg" alt="">
                    <h4>PIZZA MUZZARELLA</h4>
                    <p>La pizza muzzarella puede llevar, sí, unos 300 gramos de queso, pero si le ponés jamón, te aconsejo que lo pongas abajo, pero si preferís ponerlo encima es imprescindible pincelarlo con aceite de oliva o chimichurri pizzero para que no se achicharren los bordes”, finaliza el experto.</p>
                    <a href="a" class="btn">LEER MAS</a>
                </div>
                <div class="card1">
                    <div class="parrafo">
                    <img src="/images/ES.jpg" alt="">
                    <h1>PIZZA DE ESPINACAS</h1>
                    <p>La pizza con spinacas y queso, solo pensarlo ya se me hace agua la boca y si pienso en queso, nada mejor que una pizza, así que ya está... mi receta perfecta para hoy es pizza de espinacas y queso. Si quieres disfrutar de una pizza sin tomate, sencilla y muy rica, esta receta de pizza con espinacas frescas te gustará tanto como a mi.</p><br>
                    <p>A continuación detallo varias opciones de masa y cómo hacer un salteado de espinacas con mucho sabor que será la base de nuestra pizza casera, así que no tienes excusa para deleitarte con esta receta fácil, ¡a cocinar!</p>
                    <br>
                </div>
                    <a href="a" class="btn1">LEER MAS</a>
                </div>
            
         </div>
    </div>
</body>
</html>