<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="CSS/serviciocliente.css">
    <title>Servicio al Cliente</title>
    <link rel="icon" href="imagenes/Logo1.jpeg" />
</head>
<body>
    <div id="cabeza">
        <div id="cabeza_izq">
            <img src="imagenes/Logo2.jpeg" alt="Logo_Principal" id="img_cabeza">
        </div>
        <div id="cabeza_der">
            <p id="lanonna">La Nonna</p>
            <br>
            <p id="Titulo">Servicio al Cliente</p>
        </div>
    <br clear="all">
    </div>
<br>
    <section>
        <div id="parati">
            <p style="text-align: center; font-size: 40pt; font-style: bold;"><b>Para Ti</b></p>
            <form id="form-login" action="" method="post" autocomplete="off" method="post" action="/">
                <p><label >Nombres:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="title" style="width: 400px;" name="Nombres" type="text" id="nombres" class="caja" placeholder="Ingresa tus nombres" autofocus="" required=""></p>
     
                <p><label>Apellidos:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="contend" style="width: 400px;" name="Apellidos" type="text" id="apellidos" class="caja" placeholder="Ingresa tus apellidos" autofocus="" required=""></p>
    
                <p><label>Fecha de nacimiento:</label>&nbsp;&nbsp;&nbsp;&nbsp;<input style="width: 400px;" name="Fecha de nacimiento" type="date" id="fecha" class="caja" placeholder="Ingresa tu fecha de nacimiento" autofocus="" required=""></p>
    
                <p><label>Correo electrónico:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input style="width: 400px;" name="Correo electrónico" type="text" id="correo" class="caja" placeholder="Ingresa tu correo electrónico" autofocus="" required=""></p>
    
                <p><label>Número de teléfono:</label>&nbsp;&nbsp;&nbsp;&nbsp;<input style="width: 400px;" name="Número de telefono" type="" id="numero" class="caja" placeholder="Ingresa tu número telefónico" autofocus="" required=""></p>
    
                <p><label>Dirección:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input style="width: 400px;" name="Dirección" type="text" id="direccion" class="caja" placeholder="Ingresa tu dirección" autofocus="" required=""></p>
    
                <p id="bot"><input type="submit" id="submit" name="submit" value="Registrarme" class="boton"></p>
            </form>
        </div>
        <article id="reembolsos">
            <video id="video" controls><source src="videos/video lanonna.mp4"></video>
            <p style="text-align: center; font-size: 20pt; font-style: bold;"><b>Reembolsos</b></p>
            <input type="text" placeholder="Mensaje" id="mensaje"><br>
            <p><input type="submit" id="btn" name="submit" value="Pedir un reembolso"></p>
        </article>
    </section>
</body>
</html>