*{
    margin: 0px;
    padding: 0px;
    background-color: brown;
}
/*Cabecera*/
#cabeza{
    overflow: hidden;
    background-color: maroon;
}
#cabeza_izq{
    background-color: white;
    float: left;
    width: 400px;
    background-color: #8f302e;
    border-bottom-right-radius: 2000px;
    border-top-left-radius: 2000px;
}
#img_cabeza{
    margin-left: 150px;
    height: 120px;
}
#cabeza_der{
    float: right;
    width: 800px;
    background-color: maroon;
}
#Ins_edu{
    font-family: verdana;
    color: snow;
    float: left;
    font-size: 30px;
    text-align: center;
    background-color: maroon;
}
#Titulo{
    font-family: Brush Script MT;
    color: seashell;
    float: right;
    font-size: 80px;
    margin-right: 170px;
    background-color: maroon;
}
/*Navegador*/
#contenedor{
    font-family: Verdana;
}
ul, ol{
    list-style: none;
}
.navegador > li{
    float: left;
}
.navegador li a{
    border-top: 2px solid gainsboro;
    background-color: Sienna;
    color: white;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
    border-bottom: solid chocolate 3px;
    width: 257px;
    text-align: center;
}
.navegador li a:hover{
    background-color: gainsboro;
    margin-left: auto;
    margin-right: auto;
    color: navy;
}
.navegador li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.navegador li:hover >ul{
    display: block;
}
.navegador li ul li{
    position: relative;
}
#gran_circulo{
    z-index: 1;
    background-color: gainsboro;
    border-bottom-right-radius: 20000px;
    border-top-right-radius: 20000px;
    height: 1000px;
    width: 500px;
    position: absolute;
}
/*Presentacion*/
#Slogan{
    font-family: vegur;
    font-size: 50px;
    text-align: center;
    color: yellowgreen;
    z-index: 2;
}
/*Ver mas y esas cosas*/
#vegetariana{
    margin: 10px;
    float: left;
    background-color: gainsboro;
    width: 350px;
    height: 530px;
    padding: 20px;
    text-align: center;
}
#Primera_pizza{
    width: 100%;
    background-color: gainsboro;
}
#vegetariana_titulo{
    margin-top: 45px;
    font-style: bold;
    font-size: 25px;
    margin-bottom: 30px;
    background-color: gainsboro;
}
#vegetariana_contenido{
    font-family: verdana;
    text-align: justify;
    background-color: gainsboro;
}
#clasica{
    margin: 10px;
    margin-right: 100px;
    margin-left: 200px;
    float: left;
    background-color: gainsboro;
    width: 350px;
    height: 530px;
    padding: 20px;
    text-align: center;
    background-color: gainsboro;
}
#Segunda_pizza{
    width: 100%;
    background-color: gainsboro;
}
#clasica_contenido{
    margin: 0;
    margin-top: 6px;
    font-family: verdana;
    text-align: justify;
    background-color: gainsboro;
}
#hawaiana{
    margin: 10px;
    float: right;
    background-color: gainsboro;
    width: 350px;
    height: 530px;
    padding: 20px;
    text-align: center;
}
#Tercera_pizza{
    width: 100%;
    background-color: gainsboro;
}
#hawaiana_titulo{
    margin-top: 45px;
    font-style: bold;
    font-size: 25px;
    margin-bottom: 30px;
    background-color: gainsboro;
}
#hawaiana_contenido{
    font-family: verdana;
    text-align: justify;
    background-color: gainsboro;
}
/* Nuestra Historia */
#nuestra_historia{
    margin: 30px;
    margin: auto;
    background-color: gainsboro;
    width: 1500px;
    height: 620px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}
#historia{
    width: auto;
    background-color: gainsboro;
}
#historia_titulo{
    margin-top: 45px;
    font-style: bold;
    font-size: 25px;
    margin-bottom: 30px;
    background-color: gainsboro;
}
#historia_contenido{
    font-family: verdana;
    text-align: justify;
    background-color: gainsboro;
}
/* Nuestra Politica */
#nuestra_politica{
    margin: 30px;
    margin: auto;
    background-color: gainsboro;
    width: 1500px;
    height: 440px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}
#politica{
    width: 30%;
    background-color: gainsboro;
}
#politica_titulo{
    margin-top: 45px;
    font-style: bold;
    font-size: 25px;
    margin-bottom: 30px;
    background-color: gainsboro;
}
#politica_contenido{
    font-family: verdana;
    text-align: justify;
    background-color: gainsboro;
}
/* Final */
footer{
    position: relative;
    background-color: maroon;
    padding: 20px;
    z-index: 2;
    margin-top: 80px;
    height: 390px;
    color: white;
}
#logo_final{
    float: left;
    margin-left: 50px;
    width: 300px;
    border-radius: 30px;
}
#final{
    float: right;
    margin-right: 60px;
    text-align: center;
    font-style: bolder;
    background-color: sienna;
    border-radius: 30px;
    padding: 20px;
}
#escribenos{
    font-size: 30px;
    margin-bottom: 10px;
    background-color: lightcoral;

}
#inputs{
    margin-top: 0;
    width: 200px;
    height: 30px;
    border: 0;
    color: white;
    text-align: center;
    background-color: crimsom;
    border-radius: 15px;
}
#input_enviar{
    border: 0;
    border-radius: 8px;
    background-color: darkred;
    color:snow;
    height: 40px;
    width: 150px;
    margin: 60px;
    margin-top: 170px;
    font-size: 25px;
    font-family: arial;
    float: right;
}
#input_enviar:hover{
    background-color: rosybrown;
    color: black;
}
#inputs_mensaje{
    width: 250px;
    height: 200px;
    border: 0;
    float: left;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
}

